{
    auto_https disable_redirects

    storage file_system {
        root /data/caddy
    }

    servers {
        protocols h1 h2 h2c
        trusted_proxies static private_ranges
    }

    debug
}

http://127.0.0.1:8080 {
	@denied remote_host nextcloud-aio-nextcloud
	abort @denied

	respond "Hello, you must be from a private network!"
}
