name: caddy-update

on:
  workflow_dispatch:
  schedule:
  - cron:  '00 12 * * *'

permissions:
  contents: write
  pull-requests: write

jobs:
  caddy-update:
    name: update caddy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.2
    - name: Run caddy-container-update
      run: |
        set -x

        # CADDY_MAXMIND_VERSION
        CADDY_MAXMIND_VERSION="$(
          git ls-remote https://github.com/porech/caddy-maxmind-geolocation v* \
            | cut -d/ -f3 \
            | sort -V \
            | grep -E "^v[0-9\.]+$" \
            | tail -1
        )"
        sed -i "s|^ENV CADDY_MAXMIND_VERSION.*$|ENV CADDY_MAXMIND_VERSION=$CADDY_MAXMIND_VERSION|" ./Dockerfile

        # CADDY_L4_HASH
        CADDY_L4_HASH="$(
          git ls-remote https://github.com/mholt/caddy-l4 master \
            | cut -f1 \
            | tail -1
        )"
        sed -i "s|^ENV CADDY_L4_HASH.*$|ENV CADDY_L4_HASH=$CADDY_L4_HASH|" ./Dockerfile

        cat ./Dockerfile

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676
      with:
        commit-message: caddy-update automated change
        signoff: true
        title: caddy container update
        body: Automated caddy container update
        labels: dependencies, 3. to review
        milestone: next
        token: ${{ secrets.GITHUB_TOKEN }}
        branch: caddy-container-update
