name: Docker Build and Publish

on:
  workflow_dispatch:
    inputs:
      tagName:
        description: "Tag name"
        required: true
        default: 'v4'

jobs:
  push_to_registry:
    runs-on: ubuntu-latest

    name: Build docker image and push to dockerhub

    steps:
      - name: Check out the repo
        uses: actions/checkout@v6.0.2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f

      - name: Login to DockerHub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build container image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          context: './'
          no-cache: true
          file: 'Dockerfile'
          tags: ghcr.io/szaimen/aio-caddy:${{ github.event.inputs.tagName }}
          provenance: false
